{% extends 'base.html.twig' %}

{% block title %}OffersMenus index{% endblock %}

{% block body %}
    <h1>OffersMenus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Price</th>
                <th>Cost</th>
                <th>Photo</th>
                <th>Count</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offers_menu in offers_menuses %}
            <tr>
                <td>{{ offers_menu.id }}</td>
                <td>{{ offers_menu.title }}</td>
                <td>{{ offers_menu.subtitle }}</td>
                <td>{{ offers_menu.price }}</td>
                <td>{{ offers_menu.cost }}</td>
                <td>{{ offers_menu.photo }}</td>
                <td>{{ offers_menu.count }}</td>
                <td>
                    <a href="{{ path('app_offers_menus_show', {'id': offers_menu.id}) }}">show</a>
                    <a href="{{ path('app_offers_menus_edit', {'id': offers_menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offers_menus_new') }}">Create new</a>
{% endblock %}
